<!DOCTYPE html>
<html>
	<head>
		<!--<base href="/">-->
		<title>Microblog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="assets/css/main.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	</head>
	<body>
		<microblog>Loading..</microblog>

		<script type="text/javascript" src="assets/js/vendor.js"></script>
	</body>
</html>
